In [1]:
import pandas as pd
import mysql.connector
import matplotlib.pyplot as plt

In [2]:
conn = mysql.connector.connect(
       host ="localhost",
       user = "root",
       password= ""
)

In [5]:
df=pd.read_csv("laptopData.csv")

In [7]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector

In [8]:
engine=create_engine("mysql+pymysql://root:@127.0.0.1/campus_x")
df.to_sql("laptop",con=engine)

1303